.footerOuter {
    background: black;
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 77px 0;
    padding-bottom: 0;

    .footerTop {
        display: flex;
        justify-content: space-between;
        margin-bottom: 95px;

        .ftLeft {

        }

        .ftRight {
            display: flex;
            justify-content: flex-end;

            .column {
                display: flex;
                flex-direction: column;
                margin-left: 104px;
                align-items: flex-end;

                .clHeader {
                    font-family: TerminaRegular;
                    font-size: 18px;
                    line-height: 123.8%;
                    letter-spacing: 0.1px;
                    margin-bottom: 34px;
                    text-transform: uppercase;
                    color: #EEEADD;
                }

                .item {
                    font-family: TelegrafRegular;
                    font-size: 16px;
                    line-height: 123.8%;
                    letter-spacing: 0.5px;
                    margin-bottom: 19px;
                    color: #FFFFFF;

                }


            }

        }


    }

    .footerBottom {
        display: flex;
        justify-content: space-between;
        margin-bottom: 68px;

        .fbLeft {
            display: flex;
            flex-direction: column;

            .address {
                display: flex;
                font-family: TerminaRegular;
                color: #FFFFFF;
                font-size: 16px;
                line-height: 123.8%;
                margin-bottom: 98px;
            }

            .appoint {
                font-family: HattonMedium;
                font-size: 20px;
                line-height: 123.8%;
                letter-spacing: 5px;
                color: #FFFFFF;
            }

        }

        .fbRight {
            display: flex;
            justify-content: flex-end;

            .column {
                display: flex;
                flex-direction: column;
                margin-left: 104px;
                align-items: flex-end;
                max-width: 200px;

                .clHeader {
                    font-family: EmpireBold;
                    font-size: 54px;
                    line-height: 100%;
                    letter-spacing: 5px;
                    margin-bottom: 22px;
                    text-transform: uppercase;
                    color: #EEEADD;
                }

                .item {
                    font-family: TelegrafRegular;
                    font-size: 16px;
                    line-height: 123.8%;
                    letter-spacing: 0.5px;
                    margin-bottom: 19px;
                    color: #FFFFFF;
                    text-align: right;

                }


            }
        }
    }

    .footerBase {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        line-height: 123.8%;
        letter-spacing: 0.5px;
        color: #BABABA;
        font-family: TelegrafRegular;
        padding: 17px 0;
    }
}

.footerBaseOuter {
    border-top: 0.5px solid #313131;
    background: black;

    .footer {
        padding-top: 17px;
        padding-bottom: 17px;
    }
}

@media only screen and (max-width: 648px) {
    .footer {
        padding: 50px 0;
        padding-bottom: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;

        .footerTop {
            flex-direction: column;
            margin-bottom: 80px;

            .ftLeft {
                margin-bottom: 17px;
                padding: 0 35px;
            }

            .ftRight {
                flex-direction: column;
                justify-content: unset;
                padding: 0 35px;
                padding-top: 45px;
                border-top: 0.3px solid #FFFFFF;


                .column {
                    margin-left: 0;
                    align-items: flex-start;
                }
            }
        }

        .footerBottom {
            flex-direction: column-reverse;
            margin-bottom: 0;


            .fbRight {
                flex-direction: column;
                padding: 0 35px;

                .column {
                    align-items: flex-start;
                    margin-left: 0;
                    margin-bottom: 60px;

                    .item {
                        text-align: left;
                    }
                }
            }

            .fbLeft {
                .address {
                    padding: 0 35px;
                    margin-bottom: 64px;
                }

                .appoint {
                    font-size: 16px;
                    padding: 18px 35px;
                    border-top: 0.5px solid #313131;
                }

            }
        }
    }

    .footerBaseOuter {
        border-top: 0.5px solid #313131;
        background: black;

        .footer {
            padding: 17px 35px !important;
        }
    }
}