.footerOuter {
    background: black;
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 77px 0 0;

    .footerTop {
        display: flex;
        justify-content: space-between;
        margin-bottom: 95px;

        .ftLeft {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: white;

            header {
                display: none;
                font-family: HattonRegular, sans-serif;
                font-size: 14px;
                text-transform: uppercase;
            }
        }

        .ftRight {
            display: flex;
            justify-content: flex-end;

            .column {
                display: flex;
                flex-direction: column;
                margin-left: 104px;
                align-items: flex-end;

                .clHeader {
                    font-family: TerminaRegular, sans-serif;
                    font-size: 18px;
                    line-height: 123.8%;
                    letter-spacing: 0.1px;
                    margin-bottom: 34px;
                    text-transform: uppercase;
                    color: #EEEADD;
                    display: flex;
                    justify-content: space-between;

                    img {
                        display: none;
                    }
                }

                .item {
                    font-family: TelegrafRegular, sans-serif;
                    font-size: 16px;
                    line-height: 123.8%;
                    letter-spacing: 0.5px;
                    margin-bottom: 19px;
                    color: #FFFFFF;
                    transition: 0.4s;
                    cursor: pointer;
                }

                .item:hover {
                    color: #757575;
                    transition: 0.4s;
                }
            }

        }
    }

    .footerBottom {
        display: flex;
        justify-content: space-between;
        margin-bottom: 68px;

        .fbLeft {
            display: flex;
            flex-direction: column;

            .address {
                display: flex;
                font-family: TerminaRegular, sans-serif;
                color: #FFFFFF;
                font-size: 16px;
                line-height: 123.8%;
                margin-bottom: 98px;

                header {
                    transition: 0.4s;
                }

                header:hover {
                    color: #757575;
                    transition: 0.4s;
                }
            }


            .appoint {
                font-family: HattonMedium, sans-serif;
                font-size: 20px;
                line-height: 123.8%;
                letter-spacing: 5px;
                color: #FFFFFF;
                cursor: pointer;
                transition: 0.4s;
            }

            .appoint:hover {
                color: #757575;
                transition: 0.4s;
            }

        }

        .fbRight {
            display: flex;
            justify-content: flex-end;

            .column {
                display: flex;
                flex-direction: column;
                margin-left: 104px;
                align-items: flex-end;
                max-width: 200px;

                .clHeader {
                    font-family: EmpireBold, sans-serif;
                    font-size: 54px;
                    line-height: 100%;
                    letter-spacing: 5px;
                    margin-bottom: 22px;
                    text-transform: uppercase;
                    color: #EEEADD;
                }

                .item {
                    font-family: TelegrafRegular, sans-serif;
                    font-size: 16px;
                    line-height: 123.8%;
                    letter-spacing: 0.5px;
                    margin-bottom: 19px;
                    color: #FFFFFF;
                    text-align: right;

                }


            }
        }
    }

    .footerBase {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        line-height: 123.8%;
        letter-spacing: 0.5px;
        color: #BABABA;
        font-family: TelegrafRegular, sans-serif;
        padding: 17px 0;
    }
}

.footerBaseOuter {
    border-top: 0.5px solid #313131;
    background: black;

    .footer {
        padding-top: 17px;
        padding-bottom: 17px;
    }
}

@media only screen and (max-width: 1024px) {
    .footer {

        .footerTop {
            .ftRight {

                .column {
                    margin-left: 45px;
                    margin-bottom: 20px;

                    .clHeader {
                        width: 100%;
                        margin-bottom: 10px;

                        img {
                            display: block;
                            width: 10px;
                        }
                    }
                }

            }
        }

        .footerBottom {
            .fbRight {
                flex-direction: column;

                .column {
                    margin-bottom: 10px;
                }

            }
        }

    }
}


@media only screen and (max-width: 648px) {
    .footer {
        padding: 50px 0 0 0 !important;
        padding-top: 20px !important;

        .footerTop {
            flex-direction: column;
            margin-bottom: 35px;

            .ftLeft {
                margin-bottom: 17px;
                padding: 0 35px;

                header {
                    display: flex;
                }

                img {
                    width: 60px;
                }
            }

            .ftRight {
                flex-direction: column;
                justify-content: unset;
                padding: 45px 35px 0;
                border-top: 0.3px solid #444444;

                .column {
                    margin-left: 0;
                    align-items: flex-start;
                }
            }
        }

        .footerBottom {
            flex-direction: column-reverse;
            margin-bottom: 0;


            .fbRight {
                flex-direction: column;
                padding: 0 35px;

                .column {
                    align-items: flex-start;
                    margin-left: 0;
                    margin-bottom: 60px;

                    .item {
                        text-align: left;
                    }
                }
            }

            .fbLeft {
                .address {
                    padding: 0 35px;
                    margin-bottom: 64px;
                    font-size: 14px;
                }

                .appoint {
                    font-size: 14px;
                    padding: 18px 35px;
                    border-top: 0.5px solid #313131;
                }

            }
        }
    }

    .footerBaseOuter {
        border-top: 0.5px solid #313131;
        background: black;

        .footer {
            padding: 17px 35px !important;

            .footerBase {
                header:last-of-type {
                    text-align: right;
                }
            }
        }
    }
}