.stripOuter {
    background: black;
}

.strip {
    color: white;
    padding: 14px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    header {
        font-family: HattonRegular, sans-serif;
        font-size: 20px;
        line-height: 143%;
        color: #EEEADD;
        cursor: pointer;
    }

    img {
        height: 13px;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 648px) {

    .strip {
        color: white;
        padding: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}