.menuList {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 60px;

    .menuListItem {
        white-space: nowrap;
        font-family: TeodorTrialRegular, sans-serif;
        font-size: 16px;
        line-height: 132.8%;
        letter-spacing: 0.05em;
        margin-bottom: 14px;
        cursor: pointer;
        transition: 0.1s;
    }

    .menuListItem:hover {
        opacity: 0.9;
        transition: 0.1s;
    }
}

.menuListLast {
    right: 0;
    text-align: end;
}

@media only screen and (max-width: 648px) {
    .menuList {
        position: relative;
        top: 15px;

        .menuListItem {
            white-space: unset;
        }
    }

    .menuListLast {
        right: 0;
        text-align: start;
    }
}
