.servicesOuter {
}

.services {
    padding-top: 55px;
    display: flex;
    justify-content: flex-end;

    h1 {
        position: absolute;
        font-family: EmpireBold, sans-serif;
        text-transform: uppercase;
        font-size: 123px;
        line-height: 126px;
        letter-spacing: 0.1em;
        left: 100px;
        max-width: 325px;
    }

    .servicesRight {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 862px;

        img {
            width: 100%;
            margin-bottom: 50px;
        }

        .srTitle {
            font-size: 24px;
            line-height: 132.8%;
            letter-spacing: 0.2px;
            font-family: CanelaRegular, sans-serif;
        }

        .srDesc {
            font-family: OggItalic, sans-serif;
            font-size: 16px;
            line-height: 132.8%;
            margin-top: 16px;
            margin-bottom: 39px;
        }

        .srPurpose {
            font-family: SaolRegularItalic, sans-serif;
            font-size: 20px;
            line-height: 132.8%;
            margin-bottom: 9px;
        }

        .srContent {
            width: 100%;
            font-size: 20px;
            padding-bottom: 55px;
            font-family: TeodorTrialLight, sans-serif;
            line-height: 145%;
            border-bottom: 1px solid lightgray;
        }

        .srContentFull {
            border-bottom: none;
        }
    }
}

.servicesFull {
    border-bottom: 1px solid rgb(117, 117, 117);
}


@media only screen and (max-width: 648px) {
    .skinCareOuter {
        .skinCare {
            padding: 0;

            h1 {
                font-size: 65px;
                margin-left: 3px;
                width: 100%;
                margin-top: -6px;
                padding: 35px;
            }

            .img {
                margin-bottom: 0;

                .imgRight {
                    div {
                        margin-bottom: 30px;

                        img {
                            width: 100%;
                        }
                    }

                    p {
                        padding: 20px 35px;
                        margin-bottom: 30px;
                    }

                    .reju {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
