.visitUsOuter {
    background: black;
}

.visitUs {
    padding: 133px 0;
    border-bottom: 1px solid #444444;

    .vuHeader {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        color: #FFFFFF;
        margin-bottom: 70px;

        h2 {
            font-family: EmpireBold, sans-serif;
            font-size: 80px;
            line-height: 98.1%;
            letter-spacing: 0.13em;
            text-transform: uppercase;
        }

        header {
            font-family: OggItalic, sans-serif;
            font-size: 18px;
            line-height: 143%;
        }

        header {
            transition: 0.4s;
        }

        header:hover {
            color: #757575;
            transition: 0.4s;
        }

        .vuhRight {
            display: flex;
            align-items: center;

            .dts {
                margin-right: 54px;
            }

        }
    }

    .vuMap {
        margin-bottom: 58px;

        img {
            width: 100%;
        }

        .imgMob {
            display: none;
        }
    }

    .vuAddress {
        display: flex;
        justify-content: space-between;

        .vuaLeft {
            font-family: TelegrafUltraLight, sans-serif;

            h3 {
                font-size: 32px;
                line-height: 98.1%;
                letter-spacing: 0.13em;
                color: #FFFFFF;
                text-transform: uppercase;
                margin-bottom: 18px;
            }

            header {
                font-size: 18px;
                line-height: 136%;
                letter-spacing: 0.05em;
                color: #FFFFFF;
            }

            .phone {
                margin-bottom: 3px;
            }
        }

        .vuaRight {
            font-family: HattonRegular, sans-serif;
            font-size: 20px;
            line-height: 155.5%;
            text-align: right;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #FFFFFF;
            cursor: pointer;

            header {
                transition: 0.3s;

            }
        }

        .vuaRight {
            header:hover {
                opacity: 0.5;
                transition: 0.3s;
            }
        }
    }
}

@media only screen and (max-width: 1280px) {
    .visitUs {
        padding: 100px 0;
    }
}

@media only screen and (max-width: 648px) {
    .visitUs {
        padding: 50px 0;

        .vuHeader {
            margin-bottom: 40px;

            h2 {
                font-size: 64px;
            }

            .vuhRight {
                margin-bottom: 9px;

                .dts {
                    display: none;
                }

            }
        }

        .vuMap {
            margin-bottom: 40px;

            .imgDesktop {
                display: none;
            }

            .imgMob {
                display: block;
            }
        }

        .vuAddress {
            flex-direction: column;
            justify-content: flex-start;

            .vuaLeft {


            }

            .vuaRight {
                text-align: left;
                margin-top: 40px;
            }
        }
    }


}
