.headerOuter {
    background: #EEEADD;
    border-bottom: 0.5px solid #000000;
}

.headerOuterTrans {
    background: transparent;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 38px 0;

    .hLeft {
        img {
            cursor: pointer;
        }
    }

    .hRight {
        display: flex;
        align-items: center;

        header {
            margin-left: 86px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            font-family: HattonRegular, sans-serif;
            margin-top: 8px;
        }

        img {
            margin-left: 62px;
            cursor: pointer;
        }
    }

}

@media only screen and (max-width: 648px) {
    .header {
        display: flex;
        justify-content: space-between;
        padding: 38px 0;

        .hLeft {
            display: flex;
            align-items: center;

            img {
                cursor: pointer;
                width: 16px;
                margin-right: 20px;
            }
        }

        .hRight {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            header {
                margin-left: 0px;
            }

            img {
                margin-left: 10px;
            }
        }

    }


}
