@import 'index.module.scss';

.advocacyOuter {
    background: #EEEADD;
}

.advocacy {
    padding-top: 118px;
    padding-bottom: 139px;


    header {
        font-family: Poppins;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    p {
        font-family: SaolRegularItalic;
        font-size: 54px;
        line-height: 70px;
        letter-spacing: 0.02em;
    }

}

.journey {
    .joTop {
        h2 {
            font-size: 120px;
            line-height: 120px;
            letter-spacing: 0.05em;
        }
    }
}

.clientTestimonialsOuter {
    .ctContent {
        display: flex;
        flex-direction: column;
        border-top: 1px solid #000000;
        border-left: 1px solid #000000;
        padding: 90px;
        min-height: 600px;

        header {
            font-size: 24px;
            font-family: HattonMedium, sans-serif;
            text-transform: uppercase;
            line-height: 149.8%;
            letter-spacing: 3px;
            margin-bottom: 13px;
        }

        span {
            font-family: TelegrafRegular, sans-serif;
            font-size: 14px;
            line-height: 101.1%;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            margin-bottom: 36px;
        }

        p {
            font-family: TelegrafRegular, sans-serif;
            font-size: 18px;
            line-height: 149.8%;
            letter-spacing: 0.1px;
        }

    }
}

.clientTestimonials {
    display: flex;
    flex-direction: column;

    .ctHeader {
        display: flex;
        justify-content: space-between;
        padding: 83px 0;

        h2 {
            font-family: EmpireBold, sans-serif;
            font-size: 80px;
            line-height: 98.1%;
            letter-spacing: 0.1em;
            text-transform: uppercase;
        }
    }

}

@media only screen and (max-width: 648px) {
    .advocacy {
        padding: 50px 0;
    }

    .clientTestimonialsOuter {
        .ctContent {
            padding: 35px;
        }
    }
}