@import 'index.module.scss';
@import 'products.module.scss';

.skinCareOuter {
    background: rgba(238, 234, 221, 0.9);;
}

.skinCare {
    padding: 128px 0;

    h1 {
        position: absolute;
        font-family: EmpireBold, sans-serif;
        text-transform: uppercase;
        font-size: 120px;
        line-height: 120px;
        letter-spacing: 0.1em;
        margin-top: -5px;
        max-width: 570px;
    }

    .img {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .imgLeft {
            max-width: 391px;
            margin-right: 32px;
            font-family: TelegrafRegular, sans-serif;
            line-height: 150%;
        }

        .imgRight {
            div {
                margin-bottom: 0;

                img {
                    width: 100%;
                }
            }
        }


    }
}

.shopMyShelfieOuter {
    background: rgba(238, 234, 221, 0.9);
    border-top: 1px solid #000000;
}

.shopMyShelfie {
    padding: 128px 0;
    display: flex;

    .smLeft {
        width: 100%;
        min-width: 635px;
        margin-right: 50px;

        h2 {
            font-family: EmpireBold, sans-serif;
            font-size: 100px;
            line-height: 100%;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            margin-top: -7px;
        }
    }

    .smRight {
        width: 100%;

        p {
            margin-bottom: 40px;
            font-family: TelegrafRegular, sans-serif;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.05em;
        }

        p:last-of-type {
            margin-bottom: 0;
        }

        header {
            font-family: HattonMedium, sans-serif;
            font-size: 24px;
            line-height: 155.5%;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            cursor: pointer;
            transition: 0.3s;
        }

        header:hover {
            transition: 0.3s;
        }


    }

}

.threeStageOuter {
    background: black;

    .threeStage {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 184px 100px 140px;
        border-bottom: 1px solid #b7b7b7;

        header {
            color: #FFFFFF;
            font-family: HattonRegular, sans-serif;
            font-size: 280px;
            line-height: 350px;
            margin-right: 120px;
        }

        h1 {
            font-family: EmpireBold, sans-serif;
            font-size: 120px;
            line-height: 130px;
            letter-spacing: 0.11em;
            text-transform: uppercase;
            color: #FFFFFF;
            max-width: 414px;
        }
    }

}

.methodologyOuter {
    background: black;
}

.methodology {
    display: flex;
    border-bottom: 1px solid #444444;
    padding: 0 100px;

    .metLeft {
        width: 50%;
        display: flex;
        flex-direction: column;
        border-right: 1px solid #444444;
        padding: 100px 100px 100px 0;
        height: 900px;

        .mrArrow {
            margin-top: 10px;
        }

        .title {
            display: flex;
            justify-content: space-between;

        }

        header {
            font-family: SaolRegular, sans-serif;
            font-size: 32px;
            line-height: 150%;
            letter-spacing: 0.1em;
            color: #FFFFFF;
            margin-bottom: 114px;
        }

        h2 {
            font-family: EmpireBold, sans-serif;
            font-size: 100px;
            line-height: 100px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 35px;
        }

        .mlDesc {
            line-height: 150%;
            letter-spacing: 0.05em;
            color: #FFFFFF;
            font-family: TelegrafRegular, sans-serif;

            span {
                font-family: SaolLightItalic, sans-serif;
                letter-spacing: 0.10em;
                font-size: 18px;
            }
        }
    }

    .metRight {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.currentFavouritesOuter {

}

.currentFavourites {
    padding: 120px 0;

    .cfHeader {
        display: flex;
        justify-content: space-between;
        margin-bottom: 70px;

        p {
            width: calc(50% - 20px);

        }

        .title {
            font-size: 120px;
            line-height: 130px;
            letter-spacing: 0.11em;
            text-transform: uppercase;
            font-family: EmpireBold, sans-serif;
        }

        .desc {
            font-family: TelegrafRegular, sans-serif;
            font-size: 18px;
            line-height: 140%;
            letter-spacing: -0.005em;

            span {
                font-family: SaolLightItalic, sans-serif;
                letter-spacing: 0.10em;
                font-size: 18px;
            }
        }

    }

    .buyBr {
        width: 100%;

        img {
            margin-bottom: 20px;
        }

        header {
            font-family: TelegrafRegular, sans-serif;
            font-size: 24px;
            line-height: 150%;
            margin-bottom: 25px;
        }
    }
}

.sliders {
    padding: 128px 0;

    .contentDesc {
        display: flex;
        justify-content: space-between;
        color: white;

        .title {
            font-family: EmpireBold, sans-serif;
            font-size: 80px;
            line-height: 110%;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            width: calc(50% - 20px);
            padding-left: 100px;
        }

        .desc {
            padding-right: 100px;
            font-size: 16px;
            letter-spacing: 2px;
            width: calc(50% - 20px);

            p:first-of-type {
                font-family: SaolLightItalic, sans-serif;
                margin-bottom: 30px;
                line-height: 30px;
                font-size: 26px;
                letter-spacing: 0.13em;
            }

            p:last-of-type {
                font-family: TelegrafRegular, sans-serif;
                line-height: 24px;
            }
        }
    }

    .slide {
        justify-content: flex-start;
        min-width: 800px;

        .title {
            left: -150px;
        }

        .prevImg {
            right: 70px;
        }

        .content {
            min-width: 210px;
            max-width: 210px;

            header {
                font-size: 20px;
            }

            p {
                font-family: SaolLightItalic, sans-serif;
                letter-spacing: 0.05em;
                font-size: 18px;
                line-height: 150%;
            }
        }
    }
}

@media only screen and (max-width: 1280px) {
    .skinCare {
        padding: 50px 0;

        h1 {
            margin-bottom: 20px;
            font-size: 80px;
            line-height: 80px;
        }

        .img {
            .imgLeft {
                margin-right: 0;
                font-family: TelegrafRegular, sans-serif;
                line-height: 150%;
            }

            .imgRight {
                div {
                    img {
                        width: 100%;
                    }
                }

                p {
                    max-width: 663px;
                    font-size: 18px;
                    margin-bottom: 60px;
                    font-family: TelegrafRegular, sans-serif;
                    line-height: 150%;
                }

                .reju {
                    font-family: SaolRegularItalic, sans-serif;
                    line-height: 151.8%;
                    letter-spacing: 2px;
                }
            }


        }
    }

    .shopMyShelfie {
        padding: 50px 0;
        flex-direction: column;

        .smLeft {
            min-width: unset;

            h2 {
                font-size: 64px;
                margin-bottom: 35px;
            }
        }
    }

    .threeStageOuter {

        .threeStage {
            padding: 50px 35px 50px;

            header {
                font-size: 91px;
                line-height: 108px;
                margin-right: 20px;
            }

            h1 {
                font-size: 60px;
                line-height: 110%;
                letter-spacing: 0.11em;
            }
        }

    }

    .methodology {
        padding: 0 50px;

        .metLeft {
            padding: 50px 15px 50px 0;
        }

        .metRight {
            width: 100%;

            img {
                width: 80%;
            }
        }
    }

    .currentFavourites {
        padding: 100px 0;

        .cfHeader {
            .title {
                font-size: 80px;
                line-height: 107.6%;
            }

        }
    }
}

@media only screen and (max-width: 648px) {
    .skinCare {
        padding: 50px 0;

        h1 {
            position: relative;
            margin-bottom: 20px;
            font-size: 80px;
            line-height: 80px;
        }

        .img {
            flex-direction: column-reverse;
            align-items: flex-start;

            .imgLeft {
                margin-right: 0;
                font-family: TelegrafRegular, sans-serif;
                line-height: 150%;
            }

            .imgRight {
                div {
                    margin-bottom: 35px;

                    img {
                        width: 100%;
                    }
                }

                p {
                    max-width: 663px;
                    font-size: 18px;
                    margin-bottom: 60px;
                    font-family: TelegrafRegular, sans-serif;
                    line-height: 150%;
                }

                .reju {
                    font-family: SaolRegularItalic, sans-serif;
                    line-height: 151.8%;
                    letter-spacing: 2px;
                }
            }


        }
    }

    .shopMyShelfie {
        padding: 50px 0;
        flex-direction: column;

        .smLeft {
            min-width: unset;

            h2 {
                font-size: 64px;
                margin-bottom: 35px;
            }
        }
    }

    .threeStageOuter {

        .threeStage {
            padding: 50px 35px 50px;

            header {
                font-size: 91px;
                line-height: 108px;
                margin-right: 20px;
            }

            h1 {
                font-size: 60px;
                line-height: 110%;
                letter-spacing: 0.11em;
            }
        }

    }

    .methodology {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #444444;
        padding: 0 35px 50px;

        .metLeft {
            width: 100%;
            display: flex;
            flex-direction: column;
            border-right: none;
            padding: 50px 0;
            height: auto;

            header {
                font-family: SaolRegular, sans-serif;
                font-size: 24px;
                margin-bottom: 10px;
            }

            h2 {
                font-size: 60px;
                line-height: 110%;
                letter-spacing: 0.1em;
                margin-bottom: 35px;
            }

            p {
                min-height: 540px;
            }
        }

        .metRight {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }

    .currentFavourites {
        padding: 50px 0;

        .cfHeader {
            flex-direction: column;

            .title {
                width: 100%;
                margin-right: 0;
                margin-bottom: 35px;
                font-size: 80px;
                line-height: 107.6%;
            }

            .desc {
                width: 100%;
            }

        }

        .cfSlide {
            margin-right: 0;

            img {
                width: 100%;
            }
        }

        .buyBr {
            width: 100vw;

            img {
                width: calc(100% - 70px);
            }
        }
    }

    .sliders {
        padding: 50px 0;
        border-top: 1px solid #444444;

        .contentDesc {
            flex-direction: column;
            padding: 0 35px;
            margin-bottom: 0;

            .title, .desc {
                padding: 0;
                width: 100%
            }

            .title {
                margin-bottom: 35px;
                font-size: 60px;
            }

            .desc {
                margin-bottom: 35px;
            }
        }

        .slide {
            .content {
                max-width: unset;
                min-width: unset;
            }
        }

    }
}