.skinCare {
    padding: 128px 0;

    h1 {
        position: absolute;
    }

    .img {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 130px;


        div {
            width: 900px;
            min-height: 900px;
            background: gray;
        }
    }

    .desc {
        max-width: 663px;
        font-size: 18px;
        margin-bottom: 60px;
    }

    .reju {
        max-width: 663px;
        font-size: 18px;
    }


}