.strip {
    height: 56px;
    background: black;
}

.skinCareOuter {

}

.skinCare {
    padding: 128px 0;

    h1 {
        position: absolute;
        font-family: EmpireBold, sans-serif;
        text-transform: uppercase;
        font-size: 160px;
        line-height: 110%;
        letter-spacing: 0.12em;
        margin-top: -20px;
    }

    .img {
        display: flex;
        justify-content: space-between;
        margin-bottom: 130px;

        .imgRight {
            div {
                width: 958px;
                min-height: 900px;
                background: gray;
                margin-bottom: 130px;
            }

            p {
                max-width: 663px;
                font-size: 18px;
                margin-bottom: 60px;
                font-family: TelegrafRegular;
                line-height: 150%;
            }

            .reju {
                font-family: SaolRegularItalic;
                line-height: 151.8%;
                letter-spacing: 2px;
            }
        }


    }


}

.skinCarePhil {
    display: flex;
    justify-content: space-between;
    padding: 160px 0;

    .scLeft {
        margin-right: 106px;
    }

    .scRight {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 528px;

        h2 {
            margin-bottom: 53px;
            font-family: EmpireBold, sans-serif;
            font-size: 80px;
            line-height: 107.6%;
            letter-spacing: 0.1em;
            text-transform: uppercase;
        }

        p {
            margin-bottom: 50px;
            font-family: TelegrafRegular;
            line-height: 150%;
        }

        .identity {
            font-family: SaolRegularItalic;
            line-height: 151.8%;
            letter-spacing: 1.5px;
        }

        header {
            font-family: OggItalic;
            font-size: 20px;
            cursor: pointer;
        }
    }
}

.sayHelloOuter {
    background: #EEEADD;
    border-bottom: 1px solid black;
}

.sayHello {
    display: flex;
    flex-direction: column;
    padding: 160px 0;

    .shTop {
        display: flex;
        justify-content: space-between;
        margin-bottom: 113px;

        h2 {
            margin-right: 56px;
            text-transform: uppercase;
            margin-top: -10px;
            font-family: EmpireBold, sans-serif;
            font-size: 120px;
            line-height: 100%;
            letter-spacing: 0.11em;
        }

        div {
            display: flex;
            flex-direction: column;
            width: 530px;

            p {
                margin-bottom: 36px;
                letter-spacing: 0.04em;
                line-height: 23px;
                font-family: TelegrafRegular;
            }

            .selfcare {
                font-family: SaolRegularItalic;
                line-height: 151.8%;
                letter-spacing: 2px;
            }
        }
    }

    .scBottom {
        display: flex;
        flex-direction: column;

        img {
            margin-bottom: 65px;
        }

        header {
            text-transform: uppercase;
            font-family: HattonMedium;
            font-size: 20px;
            line-height: 155.5%;
            letter-spacing: 0.06em;
            cursor: pointer;
        }

    }
}

.servicesOuter {
    background: #EEEADD;
}

.services {
    .scRight {
        h2 {
            font-size: 120px;
            letter-spacing: 0.07em;
        }
    }
}


.slidersOuter {
    background: black;
}

.sliders {
    padding: 128px 0;

    .desc {
        width: 878px;
        margin: auto auto 219px;
        color: #C4C4C4;
        font-family: SaolRegularItalic;
        font-size: 32px;
        line-height: 140%;
        letter-spacing: 2px;
    }

    .slide {
        display: flex;
        justify-content: space-between;
        color: white;
        margin-right: 60px;

        img {
            margin-right: 60px;
        }

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 263px;

            h3 {
                margin-bottom: 28px;
                font-family: SaolBold;
                font-size: 24px;
                color: #EEEADD;

                span {

                }
            }

            p {
                margin-bottom: 60px;
                font-family: TelegrafRegular;
                line-height: 150%;
                color: #C4C4C4;
            }


            div {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;

                img {
                    margin-right: 10px;
                    cursor: pointer;
                }
            }

        }

    }
}

.welcomeToGlowOuter {
    background: black;
    border-top: 1px solid #010101;
}

.welcomeToGlow {
    padding: 180px 0;

    video {
        width: 100%
    }
}

.glowEditOuter {
    background: white;
}

.glowEdit {
    .scRight {
        h2 {
            font-size: 140px;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .skinCarePhil {
        padding: 80px 0;

        .scLeft {
            margin-right: 50px;
        }

        .scRight {
            width: 528px;
            min-height: 521px;
        }
    }

    .sayHello {
        padding: 80px 0;


        .shTop {
            margin-bottom: 85px;

            h2 {
                margin-right: 36px;
                font-size: 40px;
            }
        }
    }

}


@media only screen and (max-width: 648px) {
    .skinCarePhil {
        flex-direction: column;
        padding: 35px 0;

        .scLeft {
            margin-right: 0;
            height: 200px;
            margin-bottom: 50px;
        }

        .scRight {
            width: 100%;
            min-height: 380px;
        }
    }

    .sayHello {
        padding: 35px 0;

        .shTop {
            display: flex;
            flex-direction: column;
            margin-bottom: 40px;


            h2 {
                margin-right: 0;
                margin-bottom: 35px;
            }

            div {
                width: 100%;
            }
        }
    }
}