@import "index.module.scss";

.bodyOuter {
    background: #eeeadd;
}

.body {
    padding: 160px 0;
    display: flex;
    justify-content: space-between;

    .bodyContent {
        h1 {
            font-family: EmpireBold, sans-serif;
            text-transform: uppercase;
            margin-bottom: 134px;
            font-size: 160px;
            line-height: 100%;
            letter-spacing: 0.07em;
            margin-top: -12px;
        }

        p {
            font-family: SaolRegularItalic, sans-serif;
            font-size: 24px;
            line-height: 168%;
            letter-spacing: 0.05em;
        }
    }

    .shopBody {
        text-transform: uppercase;
        font-family: HattonMedium, sans-serif;
        font-size: 24px;
        cursor: pointer;
    }

    .bLeft {
        width: 100%;
        max-width: 450px;
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .bRight {
        width: 100%;
        max-width: 742px;
        position: relative;

        .sectionTitle {
            position: absolute;
            top: -60px;
            font-family: TelegrafRegular, sans-serif;
            font-size: 32px;
            line-height: 101.1%;
            text-align: right;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            width: 100%;
        }

        .slide {
            img {
                margin-bottom: 35px;
            }
        }

        .bodyContent {
            display: none;
        }

        .shopBody {
            display: none;
        }

        .nextBack {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.productDescOuter {
}

.productDesc {
    padding: 111px 0;

    p {
        font-family: SaolRegularItalic, sans-serif;
        font-size: 32px;
        line-height: 140%;
        letter-spacing: 2px;
    }
}

.currentFavouritesOuter {
}

.currentFavourites {
    padding: 120px 0;

    .cfHeader {
        display: flex;
        justify-content: space-between;
        margin-bottom: 70px;

        h2 {
            font-family: TerminaLight, sans-serif;
            letter-spacing: 0.05em;
            text-transform: uppercase;
        }
    }

    .cfSlide {
        margin-right: 20px;

        img {
            margin-bottom: 20px;
            height: 535px;
        }

        header {
            font-family: SaolDisplayRegular, sans-serif;
            font-size: 20px;
            line-height: 145.69%;
            letter-spacing: 0.06em;
            text-transform: capitalize;

            span {
                font-size: 10px;
                margin-left: 0px;
            }
        }
    }

    .enquire {
        font-family: HattonMedium, sans-serif;
        font-size: 24px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        margin-top: 70px;
        cursor: pointer;
    }
}

.shopMyShelfieOuter {
    border-bottom: 1px solid black;
}

.shopMyShelfie {
    padding: 128px 0 128px 0;
    display: flex;

    .smLeft {
        width: 100%;
        max-width: 540px;
        margin-right: 50px;

        h2 {
            font-family: EmpireBold, sans-serif;
            font-size: 120px;
            line-height: 100%;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            margin-top: -7px;
        }
    }

    .smRight {
        width: 100%;

        p {
            margin-bottom: 10px;
            font-family: TelegrafRegular, sans-serif;
            font-size: 20px;
            line-height: 150%;
            letter-spacing: 0.05em;
        }

        header {
            font-family: TelegrafRegular, sans-serif;
            font-size: 24px;
            line-height: 155.5%;
            letter-spacing: 0.12em;
            text-transform: uppercase;
        }
    }
}

.sliders {
    border-bottom: 1px solid #444444;

    .sliderTitle {
        font-family: SaolRegular, sans-serif;
        font-weight: 400;
        font-size: 54px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: white;
        margin-bottom: 145px;
        padding: 0 100px;
    }

    .slide {
        min-width: 800px;

        .title {
            font-size: 100px;
            letter-spacing: 0.09em;
            margin-top: -75px;
            left: -200px;
        }

        .prevImg {
            right: 100px;
        }

        .content {
            justify-content: flex-end;
            margin-bottom: 50px;
            min-width: 200px;
            max-width: 200px;

            header {
                font-family: HattonMedium, sans-serif;
                margin-bottom: 65px;
                font-size: 24px;
                line-height: 143%;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #c4c4c4;
            }
        }
    }
}

@media only screen and (max-width: 1280px) {
    .body {
        padding: 100px 0;

        .bLeft {
            width: 50%;
            margin-right: 60px;

            div {
                h1 {
                    font-size: 100px;
                }

                p {
                    font-size: 18px;
                }
            }

            header {
                margin-top: 35px;
            }

            div {
                h1 {
                    margin-bottom: 50px;
                }
            }
        }

        .bRight {
            width: 50%;

            .sectionTitle {
                top: -50px;
                font-size: 24px;
                letter-spacing: 0.05em;
            }
        }

        .slide {
            img {
                width: 100%;
            }
        }
    }

    .productDesc {
        padding: 100px 0;
        padding-bottom: 0;

        p {
            font-size: 18px;
            letter-spacing: 1.2px;
        }
    }

    .currentFavourites {
        padding: 100px 0;

        .cfHeader {
            margin-bottom: 70px;

            h2 {
            }
        }

        .cfSlide {
            margin-right: 20px;

            img {
                margin-bottom: 20px;
                height: 355px;
            }

            header {
                font-size: 20px;
                line-height: 131.78%;
                letter-spacing: 0.05em;
                display: flex;
                align-items: flex-end;
            }
        }
    }

    .shopMyShelfie {
        padding: 100px 0;
        padding-top: 100px;

        .smLeft {
            width: 100%;
            max-width: 540px;
            margin-right: 50px;

            h2 {
                font-size: 78px;
                margin-top: -7px;
            }
        }

        .smRight {
            width: 100%;

            p {
                margin-bottom: 40px;
                font-family: TelegrafRegular, sans-serif;
                font-size: 20px;
                line-height: 150%;
                letter-spacing: 0.05em;
            }

            header {
                font-family: HattonMedium, sans-serif;
                font-size: 24px;
                line-height: 155.5%;
                letter-spacing: 0.12em;
                text-transform: uppercase;
            }
        }
    }
}

@media only screen and (max-width: 648px) {
    .body {
        flex-direction: column;
        padding: 50px 0;

        .shopBody {
            font-size: 20px;
        }

        .bLeft {
            margin-right: 0;
            width: 100%;
            max-width: unset;

            .bodyContent {
                h1 {
                    font-size: 80px;
                    margin-bottom: 20px;

                    br {
                        display: none;
                    }
                }

                p {
                    display: none;
                }
            }

            .shopBody {
                display: none;
            }
        }

        .bRight {
            width: 100%;

            .sectionTitle {
                display: none;
            }

            .slide {
                img {
                    width: 100%;
                }
            }

            .bodyContent {
                display: flex;
                margin-top: 35px;

                h1 {
                    margin-bottom: 50px;
                }

                p {
                    font-size: 20px;
                    line-height: 148%;
                    letter-spacing: 0.03em;
                }
            }

            .nextBack {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .shopBody {
                display: flex;
                margin-top: 35px;
            }
        }
    }

    .productDesc {
        padding: 50px 0;
        border-bottom: 1px solid #c7c7c7;
    }

    .currentFavourites {
        padding: 50px 0;

        .cfHeader {
            flex-direction: column;
            margin-bottom: 20px;

            h2 {
                margin-bottom: 40px;
                font-size: 20px;
                line-height: 28px;
            }
        }

        .cfSlide {
            margin-right: 0;
            width: 75vw;

            img {
                width: 90%;
                height: auto;
                margin-bottom: 10px;
            }

            header {
                max-width: 90%;
                font-size: 16px;
            }
        }

        .enquire {
            margin-top: 20px;
        }
    }

    .shopMyShelfie {
        padding: 50px 0;
        flex-direction: column;

        h2 {
            margin-right: 0;
            margin-bottom: 35px;
            font-size: 80px;
        }

        .smRight {
            header {
                font-size: 20px;
            }
        }
    }

    .sliders {
        padding-bottom: 50px;

        .sliderTitle {
            font-size: 34px;
            letter-spacing: 0.03em;
            margin-bottom: 35px;
            padding: 0 35px;
        }

        .slide {
            .titleM {
                font-size: 65px;
                margin-bottom: 35px;
            }

            .bannerImg {
                margin-bottom: 40px;
            }

            .content {
                justify-content: flex-end;
                margin-bottom: 0;
                min-width: unset;
                max-width: unset;

                header {
                    font-size: 20px;
                    margin-bottom: 0;
                }
            }
        }
    }
}
