.editBannerOuter {
    background: rgba(238, 234, 221, 0.9);
    border-bottom: 1px solid #000000;
}

.editBanner {
    padding: 128px 0;

    h1 {
        position: absolute;
        font-family: EmpireBold, sans-serif;
        text-transform: uppercase;
        font-size: 140px;
        line-height: 100%;
        letter-spacing: 0.1em;
        margin-top: -5px;
        max-width: 817px;
    }

    .imgContainer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .imgLeft {
            max-width: 391px;
            margin-right: 32px;
            font-family: SaolRegularItalic, sans-serif;
            font-size: 24px;
            line-height: 153%;
            letter-spacing: 0.05em;
            margin-bottom: 20px;
        }

        .imgRight {
            div {
                img {
                    width: 100%;
                    max-width: 710px;
                }
            }
        }


    }
}

.postOuter {
    border-bottom: 1px solid #000000;
}

.postOuter:first-of-type {
    color: red
}

.post {
    display: flex;
    justify-content: center;

    .postLeft {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 80px;
        border-right: 1px solid #000000;
        padding: 80px 60px;

        .plTitle {
            width: 362px;
            font-size: 120px;
            line-height: 100%;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            font-family: EmpireBold, sans-serif;
        }

        .plDesc {
            header {
                font-family: TelegrafRegular, sans-serif;
                text-transform: uppercase;
                line-height: 120%;
                font-size: 24px;
                letter-spacing: 0.1em;
                cursor: pointer;
            }

            .selected {
                font-size: 25px;
                font-weight: bold;
            }
        }
    }

    .postRight {
        width: 725px;
        padding: 80px 0;

        .prSlide {
            margin-bottom: 20px;

            img {
                width: 100%;
            }
        }

        .nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

    }
}

@media only screen and (max-width: 648px) {
    .editBanner {
        padding: 50px 0;

        h1 {
            position: relative;
            margin-bottom: 35px;
            font-size: 64px;
            line-height: 110%;
        }

        .imgContainer {
            flex-direction: column;
            align-items: flex-start;

            .imgLeft {
                margin-right: 0;
                margin-bottom: 35px;

                p {
                    line-height: 153%;
                }
            }

            .imgRight {
                div {
                    img {
                        width: 100%;
                    }
                }

                p {
                    max-width: 100%;
                    font-size: 18px;
                    margin-bottom: 60px;
                }

                .reju {
                    line-height: 151.8%;
                    letter-spacing: 2px;
                }
            }


        }
    }

    .post {
        display: flex;
        justify-content: center;
        height: auto;
        flex-direction: column;

        .postLeft {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-right: 0;
            border-right: none;
            padding: 35px 0;

            .plTitle {
                width: 100%;
                font-size: 64px;
                line-height: 100%;
                margin-bottom: 35px;
            }

            .plDesc {
                header {
                    font-family: TelegrafRegular, sans-serif;
                    text-transform: uppercase;
                    line-height: 120%;
                    font-size: 20px;
                    letter-spacing: 0.1em;
                }

                .selected {
                    font-size: 22px;
                    font-weight: bold;
                }
            }
        }

        .postRight {
            width: calc(100vw - 70px);
            padding: 35px 0;

            img {
                width: 100%;
            }

        }
    }
}