.visitUsOuter {
    background: black;
}

.visitUs {
    padding: 133px 0;

    .vuHeader {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        color: #FFFFFF;
        margin-bottom: 70px;

        h2 {
            font-family: EmpireBold, sans-serif;
            font-size: 80px;
            line-height: 98.1%;
            letter-spacing: 0.13em;
            text-transform: uppercase;
        }

        header {
            font-family: OggItalic, sans-serif;
            font-size: 18px;
            line-height: 143%;
            cursor: pointer;
        }

        header {
            transition: 0.4s;
        }

        header:hover {
            color: #757575;
            transition: 0.4s;
        }
    }

    .vuMap {
        margin-bottom: 58px;

        img {
            width: 100%;
        }

        .imgMob {
            display: none;
        }
    }

    .vuAddress {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .vuaLeft {
            font-family: HattonRegular, sans-serif;

            h3 {
                font-size: 24px;
                line-height: 186.3%;
                letter-spacing: 1px;
                color: #EEEADD;
            }

            header {
                font-size: 16px;
                line-height: 123.8%;
                letter-spacing: 0.5px;
                color: #C4C4C4;
            }

            .phone {
                margin-bottom: 3px;
            }
        }

        .vuaRight {
            display: flex;
            align-items: center;

            .dts {
                margin-right: 54px;
            }
        }
    }
}

@media only screen and (max-width: 1280px) {
    .visitUs {
        padding: 100px 0;
    }
}

@media only screen and (max-width: 648px) {
    .visitUs {
        padding: 50px 0;

        .vuHeader {
            margin-bottom: 40px;

            h2 {
                font-size: 64px;
            }

            header {
                font-size: 14px;
            }
        }

        .vuMap {
            margin-bottom: 40px;

            .imgDesktop {
                display: none;
            }

            .imgMob {
                display: block;
            }
        }

        .vuAddress {
            .vuaLeft {

                h3 {
                    font-size: 32px;
                    line-height: unset;
                    margin-bottom: 25px;
                }
            }

            .vuaRight {
                padding-top: 10px;

                .dts {
                    display: none;
                }
            }
        }

    }
}
