@import "slick/slick.scss";
@import "slick/slick-theme.scss";
@import "page.scss";
@import "fonts.scss";
@import "slider.scss";
@import "buttons.scss";

html,
body {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}


