.outer {
    width: 100%;
    scroll-snap-align: start;
    scroll-behavior: smooth;

    .inner {
        max-width: 1440px;
        margin: auto;
        position: relative;
        padding-left: 100px;
        padding-right: 100px;
        overflow-x: hidden;
    }
}

.frameOuter {
    display: flex;
    justify-content: center;
}


.frame {
    max-width: 1440px;
    position: relative;
    padding: 0 20px;
    width: 100%;
}


@media only screen and (max-width: 1024px) {
    .outer {
        .inner {
            padding-left: 50px;
            padding-right: 50px;
        }
    }
}


@media only screen and (max-width: 648px) {
    .outer {
        .inner {
            padding-left: 35px;
            padding-right: 35px;
        }
    }
}