.nextback {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    width: 80px !important;

    img {
        cursor: pointer;
    }
}